* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.padre {
  border: 2px black dotted;
  display: inline-block;
}

.box {
  display: inline-block;
  background-color: red;
  width: 100px;
  height: 100px;
}

#dos{
    background-color: aqua;
}
